<div class="view view-home text-centered">

	<div class="skinnyform">

		<img src="images/icon-256.png" tpl="branding.logo" width="128" height="128" />

		<div class="home-auth-setup">
			<a data-action="app.auth.showLogin" class="pure-button pure-button-large pure-button-wide pure-button-primary">
				Log In
				<i class="fa fa-angle-right icon-right"></i>
			</a>
			
			<a data-action="app.auth.showRegister">Create Account</a>
		</div>

		<div class="home-projects">
			<div class="pure-menu pure-menu-open">
				<a class="pure-menu-heading">Open a Project:</a>
				<ul>
					<li><a data-action="app.project.online">My Projects</a></li>
					<li><a data-action="app.project.local">Import from computer</a></li>
					<li><a data-action="app.project.new">Create a new project...</a></li>
				</ul>
			</div>

		</div>

	</div>

</div>
